
<div class="img-container portrait">
    <img src="https://ik.imagekit.io/fishj123/Nsign_carbine/000004_BJ0A_VKuE.jpg" alt="">
    <img src="https://ik.imagekit.io/fishj123/Nsign_carbine/000005_SykkK4K_E.jpg" alt="">
</div>
<div class="img-container portrait">
    <img src="https://ik.imagekit.io/fishj123/Nsign_carbine/000008_B11kYEtON.jpg" alt="">
    <img src="https://ik.imagekit.io/fishj123/Nsign_carbine/000006_r1ekkFVYu4.jpg" alt="">
</div>
<div class="img-container portrait">
    <img src="https://ik.imagekit.io/fishj123/Nsign_carbine/000007_S1ZJyFVt_V.jpg" alt="">
    <img src="https://ik.imagekit.io/fishj123/Nsign_carbine/000001_H1gJJKVKuE.jpg" alt="">
</div>
<div class="img-container portrait">
    <img src="https://ik.imagekit.io/fishj123/Nsign_carbine/000002_H1bkytVKuN.jpg" alt="">
    <img src="https://ik.imagekit.io/fishj123/Nsign_carbine/000003_Bkf1kF4tdN.jpg" alt="">
</div>
