

<div class="gallery">
    <h1 class="gallery-h1">Edinburgh</h1>
    <div class="gallery-item">
        <div class="gallery-img-container-lg">
            <img src="" alt="">
        </div>
        <span>Image title</span>
    </div>
    <div class="gallery-item">
        <div class="gallery-img-container-lg">
            <img src="" alt="">
        </div>
        <span>Image title</span>
    </div>
    <div class="gallery-item">
        <div class="gallery-img-container-lg">
            <img src="" alt="">
        </div>
        <span>Image title</span>
    </div>
    <div class="gallery-item">
        <div class="gallery-img-container-lg">
            <img src="" alt="">
        </div>
        <span>Image title</span>
    </div>
    <div class="gallery-item">
        <div class="gallery-img-container-lg">
            <img src="" alt="">
        </div>
        <span>Image title</span>
    </div>
    <div class="gallery-item">
        <div class="gallery-img-container-lg">
            <img src="" alt="">
        </div>
        <span>Image title</span>
    </div>
    <div class="gallery-item">
        <div class="gallery-img-container-lg">
            <img src="" alt="">
        </div>
        <span>Image title</span>
    </div>
</div>