<div class="img-container">
    <img src="/images/Edinburgh/1.jpg" alt="">
</div>
<div class="img-container">
    <img src="/images/Edinburgh/2.jpg" alt="">
</div>
<div class="img-container">
    <img src="/images/Edinburgh/3.jpg" alt="">
</div>
<div class="img-container">
    <img src="/images/Edinburgh/4.jpg" alt="">
</div>
<div class="img-container">
    <img src="/images/Edinburgh/5.jpg" alt="">
</div>
<div class="img-container">
    <img src="/images/Edinburgh/6.jpg" alt="">
</div>
<div class="img-container">
    <img src="/images/Edinburgh/7.jpg" alt="">
</div>
<div class="img-container">
    <img src="/images/Edinburgh/8.jpg" alt="">
</div>
<div class="img-container">
    <img src="/images/Edinburgh/9.jpg" alt="">
</div>
<div class="img-container">
    <img src="/images/Edinburgh/10.jpg" alt="">
</div>
<div class="img-container">
    <img src="/images/Edinburgh/11.jpg" alt="">
</div>
<div class="img-container">
    <img src="/images/Edinburgh/12.jpg" alt="">
</div>
<div class="img-container">
    <img src="/images/Edinburgh/13.jpg" alt="">
</div>
<div class="img-container">
    <img src="/images/Edinburgh/14.jpg" alt="">
</div>
<div class="img-container">
    <img src="/images/Edinburgh/15.jpg" alt="">
</div>
<div class="img-container">
    <img src="/images/Edinburgh/16.jpg" alt="">
</div>
<div class="img-container">
    <img src="/images/Edinburgh/17.jpg" alt="">
</div>
<div class="img-container">
    <img src="/images/Edinburgh/18.jpg" alt="">
</div>
<div class="img-container">
    <img src="/images/Edinburgh/19.jpg" alt="">
</div>
<div class="img-container">
    <img src="/images/Edinburgh/20.jpg" alt="">
</div>