<div id="explore">
    <div id="explore-menu-container">
        <h1>explore</h1>
        <h4><a href="#" id="explore-edinburgh">Edinburgh</a></h4>
        <h4><a href="#" id="explore-france">France</a></h4>
        <h4><a href="#" id="explore-vietnam">Vietnam</a></h4>
        <h4><a href="#" id="explore-scotland">Scotland</a></h4>
    </div>

    <div id="explore-content-div">
        <div id="explore-text">

        </div>
        <div id="explore-image">
            <img src="#" alt="">
        </div>
    </div>
</div>