<div class="img-container">
    <img src="/images/France/1.jpg" alt="">
</div>
<div class="img-container">
    <img src="/images/France/2.jpg" alt="">
</div>
<div class="img-container">
    <img src="/images/France/3.jpg" alt="">
</div>
<div class="img-container">
    <img src="/images/France/4.jpg" alt="">
</div>
<div class="img-container">
    <img src="/images/France/5.jpg" alt="">
</div>
<div class="img-container">
    <img src="/images/France/6.jpg" alt="">
</div>
<div class="img-container">
    <img src="/images/France/7.jpg" alt="">
</div>
