<div class="home-hero">

<div class="hero-left">
    <div class="about-me">
        <div class="about-me-textbox">
            <h3>About Me</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid laboriosam asperiores excepturi totam ipsum deserunt blanditiis quasi id iusto libero laborum doloribus doloremque quidem aspernatur dolorum commodi, ratione ullam illum. Ducimus eveniet soluta praesentium voluptatem suscipit! Pariatur odit quae, iste excepturi quibusdam praesentium dolore sequi explicabo temporibus. Dolores, quo quod.</p>
        </div>
    </div>
</div>
<div class="hero-right">
    <div class="image-container-slick">
        <div class="slick-image"><img src="/images/Edinburgh/DSCF1240.jpg" alt=""></div>
        <div class="slick-image"><img src="/images/Edinburgh/DSC_0010.jpg" alt=""></div>
        <div class="slick-image"><img src="/images/Edinburgh/DSC_0016-2.jpg" alt=""></div>
        <div class="slick-image"><img src="/images/Edinburgh/DSC_0057.jpg" alt=""></div>
        <div class="slick-image"><img src="/images/Edinburgh/DSC_0064.jpg" alt=""></div>
        <div class="slick-image"><img src="/images/Edinburgh/DSC_0078.jpg" alt=""></div>
        <div class="slick-image"><img src="/images/Edinburgh/DSC_0081.jpg" alt=""></div>
        <div class="slick-image"><img src="/images/Edinburgh/DSC_0105.jpg" alt=""></div>
        <div class="slick-image"><img src="/images/Edinburgh/DSC_0110.jpg" alt=""></div>
        <div class="slick-image"><img src="/images/Edinburgh/DSC_0153.jpg" alt=""></div>
    </div>
</div>

</div>