<div class="img-container">
    <img src="/images/Scotland/1.jpg" alt="">
</div>
<div class="img-container">
    <img src="/images/Scotland/2.jpg" alt="">
</div>
<div class="img-container">
    <img src="/images/Scotland/3.jpg" alt="">
</div>
<div class="img-container">
    <img src="/images/Scotland/4.jpg" alt="">
</div>
<div class="img-container">
    <img src="/images/Scotland/5.jpg" alt="">
</div>
<div class="img-container">
    <img src="/images/Scotland/6.jpg" alt="">
</div>
<div class="img-container">
    <img src="/images/Scotland/7.jpg" alt="">
</div>
<div class="img-container">
    <img src="/images/Scotland/8.jpg" alt="">
</div>
<div class="img-container">
    <img src="/images/Scotland/9.jpg" alt="">
</div>
<div class="img-container">
    <img src="/images/Scotland/10.jpg" alt="">
</div>
<div class="img-container">
    <img src="/images/Scotland/11.jpg" alt="">
</div>
<div class="img-container">
    <img src="/images/Scotland/12.jpg" alt="">
</div>
<div class="img-container">
    <img src="/images/Scotland/13.jpg" alt="">
</div>
<div class="img-container">
    <img src="/images/Scotland/14.jpg" alt="">
</div>
<div class="img-container">
    <img src="/images/Scotland/15.jpg" alt="">
</div>
<div class="img-container">
    <img src="/images/Edinburgh/16.jpg" alt="">
</div>
<div class="img-container">
    <img src="/images/Edinburgh/17.jpg" alt="">
</div>
<div class="img-container">
    <img src="/images/Edinburgh/18.jpg" alt="">
</div>
<div class="img-container">
    <img src="/images/Edinburgh/19.jpg" alt="">
</div>
<div class="img-container">
    <img src="/images/Edinburgh/20.jpg" alt="">
</div>