<div class="image-container-slick">
    <div class="slick-image"><img src="/images/Edinburgh/DSCF1240.jpg" alt=""></div>
    <div class="slick-image"><img src="/images/Edinburgh/DSC_0010.jpg" alt=""></div>
    <div class="slick-image"><img src="/images/Edinburgh/DSC_0016-2.jpg" alt=""></div>
    <div class="slick-image"><img src="/images/Edinburgh/DSC_0057.jpg" alt=""></div>
    <div class="slick-image"><img src="/images/Edinburgh/DSC_0064.jpg" alt=""></div>
    <div class="slick-image"><img src="/images/Edinburgh/DSC_0078.jpg" alt=""></div>
    <div class="slick-image"><img src="/images/Edinburgh/DSC_0081.jpg" alt=""></div>
    <div class="slick-image"><img src="/images/Edinburgh/DSC_0105.jpg" alt=""></div>
    <div class="slick-image"><img src="/images/Edinburgh/DSC_0110.jpg" alt=""></div>
    <div class="slick-image"><img src="/images/Edinburgh/DSC_0153.jpg" alt=""></div>
</div>