<div class="img-container" class="testing">
    <img src="https://ik.imagekit.io/fishj123/Winter/000014_H1QgBLKON.jpg" alt="">
</div>
<div class="img-container">
    <img src="https://ik.imagekit.io/fishj123/Winter/000035_HkVgSIF_E.jpg" alt="">
</div>
<div class="img-container portrait">
    <img src="https://ik.imagekit.io/fishj123/Winter/DSC_0100_HylNerIKu4.jpg" alt="">
    <img src="https://ik.imagekit.io/fishj123/Winter/DSC_0107_SyBlSIYON.jpg" alt="">
</div>
<div class="img-container">
    <img src="https://ik.imagekit.io/fishj123/Winter/000037_rJHlrLt_4.jpg" alt="">
</div>
<div class="img-container">
    <img src="https://ik.imagekit.io/fishj123/Winter/000017_rkxBeHUFO4.jpg" alt="">
</div>
<div class="img-container portrait">
    <img src="https://ik.imagekit.io/fishj123/Winter/000033_rkEerLFuV.jpg" alt="">
    <img src="https://ik.imagekit.io/fishj123/Winter/DSC_0105_ByxHeHIF_V.jpg" alt="">
</div>
<div class="img-container">
    <img src="https://ik.imagekit.io/fishj123/Winter/000010_r1WBlHLtON.jpg" alt="">
</div>
<div class="img-container">
    <img src="https://ik.imagekit.io/fishj123/Winter/000012_ryIeSUFu4.jpg" alt="">
</div>