html {
    width: 100%;
    min-height: 100vh;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

.menu {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: fixed;
    left: 2rem;
    top: 2rem;
}

#hidden {
    display: none;
}

.menu h1 {
    margin-bottom: 0.5rem;
}

.menu span {
    padding-top: 0.25rem;
}

.menu span:hover {
    cursor: pointer;
}

h1 {
    font-size: 2rem;
    font-weight: 800;
    color: rgb(39, 39, 39);
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}


h3 {
    font-size: 1.25rem;
    font-weight: 800;
}

#menu {
    font-size: 1rem;
    margin-left: 2rem;
    
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

li {
    margin: 0 2rem;
    color: white;
    padding-bottom: 2rem;
}

li:hover {
    cursor: pointer;
}

#home-button {
    position: fixed;
    padding: 1rem;
    font-size: 1.5rem;
}


/* home hero styles */ 

.quote {
    position: fixed;
    top: 25rem;
    left: 10rem;
    font-size: 2rem;
    line-height: 2.5rem;
    width: 60rem;
}

.home-hero {
    width: 100%;
    min-height: 100vh;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
}

.hero-left {
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.hero-left h1 { 
    line-height: 5.5rem;
    
}

.hero-left span {
    line-height: 1.25rem;
}

.hero-left a {
    
    
}

@keyframes glow {
  from {color: black}
  to {color: rgb(173, 173, 173);}
}

.about-me {
    height: 60%;
    width: 60%;
    border: 10px solid lightskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me-textbox {
    width: 90%;
    height: 90%;
    background-color:rgb(148, 148, 148)
    
}

.about-me-textbox p{
    width: 80%;
    text-align: center;
    margin: auto;
    padding: 1rem;
    color: rgb(0, 0, 0);
    line-height: 2rem;
}

.about-me-textbox h3 {
    text-align: center;
    margin: auto;
    padding-top: 2rem;
    color: white;
}

button {
    padding: 0.5rem 1rem;
    background-color: lightskyblue;
    border: 1px solid black;
    display: block;
    margin: auto;
}

button:focus {
    outline: none;
}

button:hover {
    cursor: pointer;
}

.hero-right {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
}

.hero-right h3 {
    padding-bottom: 2rem;
    color: white;
}

.image-container-slick {
  height: 30vw;
  width: 45vw;
  overflow: contain;
}

.slick-image img {
  width: auto;
  height: 30vw;
  overflow: contain;
  margin: auto;
}

.img-container {
    width: 750px;
    height: 500px;
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.img-container img {
    max-width: 100%;
    max-height: 100%;

}

/* explore page styles */ 

#explore {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
}

#explore-container {
    width: 70%;
    
}

#explore-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    width: 100%;
    height: 40vh;
}

#explore-menu-container h1 {
    margin-bottom: 1rem;
}

#explore-content-div {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#explore-text {
    width: 30%;
    line-height: 2rem;
    padding: 3rem;
}

.dynamic-h3 {
    margin-bottom: 1rem;

}

#explore-image {
    width: 500px;
    height: 330px;
}

#explore-img {
    width: 500px;
    height: 330px;
}
